.bannerFlexContainer {
    display: flex;
}
.bannerContainer{
    display: block;
    margin-left: auto;
    margin-right: auto;
    flex-basis:30%;
    margin-right: 10%;
}
.additionalInfoContainer {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 60%;
}
.image {
    box-shadow: 5px 5px 2px gray;
    border-radius: 20px;
    width: 100%;
}

.title {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.preContent {
    font-weight: bold;
}
.castContainerItem {
    display: flex;
    flex-wrap: wrap;
    
    /* justify-content: center; */
    /* align-content: space-between; */
}

.profilePic {
    border-radius: 50%;
    box-shadow: 5px 5px 2px gray;
    width: 70%;
}

.flexHeading {
    display: flex;
    flex-basis: 100%;
    font-weight: bold;
}
.castItem > img{
    max-width: 100px;
}
.castItem > p {
    margin: 10px;
}


@media ( max-width: 600px) {
    .castItem {
        flex-basis: 33.33%;
    }

    .bannerFlexContainer {
        display: flex;
        flex-direction: column;
    }

    .bannerContainer{
        display: block;
        flex-basis:100%;
    }
    .additionalInfoContainerItem {
        display: flex;
        flex-wrap: wrap;
        flex-basis: 0%;
        /* justify-content: center; */
        /* align-content: space-between; */
    }


  }