.cardItem{
    max-width: 300px;
    margin: 30px;
    height: 575px;
}

.poster{
    width: 300px;
    border-radius: 20px;
    box-shadow: 5px 5px 2px gray;
}

.movieTitle {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

a {
    text-decoration: none;
}


